@charset "utf-8";

/*header*/
#header{
    text-align:center;
    font-size:20px;
    position:absolute;
    width:100%;
    z-index:1;
}

#header ul{display:inline-block;}
#header li{
    float:left;
    margin-right:60px;
}
#header a{
    display:block;
    width:100%;
    color:#fff;
}


.logo{
    display:inline-block;
    margin-right:43px;
    margin-top:30px;
}
.logo a img{
    display:block;
    width:100%;
    margin-top:10px;
}

/*footer*/
#footer{
    background:#A9A3B0;
    padding:60px 0;
}
#footer li{
    float:left;
}
#footer .inner{
    background:url(../images/common/fLogo.png) no-repeat 95% top;
    position:relative;
}
.fMenu{
    margin-bottom:50px;    
}
.fMenu li::after{
    content:"";
    display:inline-block;
    width:1px;
    height:14px;
    background:#222;
    margin:0 20px;
    
}
.fMenu li:last-child::after{
    display:none;
}
.fInfo{
    font-weight:200;
    font-size:14px;
}

.fInfo span{
    margin-right:20px;
}
.fInfo p{
    margin-top:30px;
}
.fSearch{
    width:180px;
    height:30px;
    background:#E8E6FB;
    text-indent:-9999px;
    position:absolute;
    right:0;
    bottom:0px;
    
}
.fSearch a{
    display:block;
    width:100%;
    background:url(../images/common/searchIcoB.png) no-repeat 95% 70%;
}